# Eat Safe, Love

## Notebook Set Up

In [48]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [50]:
# assign the uk_food database to a variable name
print(mongo.list_database_names())

['admin', 'config', 'local', 'met', 'uk_food']

In [51]:
# review the collections in our database
db = mongo['uk_food']

In [52]:
# assign the collection to a var

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [53]:
# Find the establishments with a hygiene score of 20
query =

# Use count_documents to display the number of documents in the result

# Display the first document in the results using pprint

SyntaxError: invalid syntax (2079119803.py, line 2)

In [54]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [55]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query =

# Use count_documents to display the number of documents in the result

# Display the first document in the results using pprint

SyntaxError: invalid syntax (2513243106.py, line 2)

In [56]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [57]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 
longitude = 

query = 
sort =  

# Print the results

SyntaxError: invalid syntax (848538274.py, line 6)

In [58]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [59]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [60]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame